* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #d9dcd6;
    list-style-type: none;
}
/*Converted all div selectors to section selectors*/
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Removed the style rule for section elements and added the list-style-type 
  within the scope of the follwoing style rule which includes the the section selector nested within the header class*/
.header section ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Reduced the number of css rules by creating a common class (.benefit) 
  to be used with elements with simliarl style property and value*/
.benefit-lbc {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lbc h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lbc img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Reduced the number of css rules by creating a common class (.sos) 
  to be used with elements with simliarl style property and value*/
.sos {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.sos img {
    max-height: 200px;
}

.sos h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Converted the h2 tag to h4 to stay consitant with the <h> tag hierarchy, developing in sequentual order.*/
.footer h4 {
    font-size: 20px;
}

